.title h2 {
  margin-top: 2rem;
}

section, .title {
  margin: 0 14.6%;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid var(--lightgrey-2);
  text-align: left;
}

.quantity {
  text-align: center;
}

.quantity select {
  width: 2.5rem;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--lightblack);

}

th {
  font-weight: 400;
}


td img {
  width: 8rem;
  height: 8rem;
  border-radius: 100rem;
  object-fit: cover;
}

.image, .remove {
  opacity: 0;
}

.remove-cell {
  margin-right: 1.5rem;
}


.remove-button{
  border-radius: 1.5rem;
  border: 0.2rem;
  margin:0.3rem 0;
  color: var(--lightblack);
  opacity: 0.7;
  outline: none;
}

.remove-button:hover{
  opacity: 1;
  cursor: pointer;
}


.checkout {
  /* width: 280px; */
  padding: 10px 20px 20px;
  border: 1px solid var(--lightgrey-2);
  margin-right: 2rem;
  margin-top: 2rem;
}

.subtotal {
  padding-bottom: 0.5rem;
}

.tax {
  padding-bottom: 3rem;

}

.total-price::before {
  content: 'Total: ';
}

.total-price {
  border-top: 1px solid var(--lightgrey-2);
  padding-top: 0.5rem;
}

.subtotal, .tax , .total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout button {
  background-color: var(--lightblack);
  color: var(--white);
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
}

.checkout button:hover {
  background-color: var(--black);
}


.home {
  color: var(--black);
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.home:hover {
  color: var(--primary-orange);
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}


@media screen and (max-width: 400px) {
  section, .title {
    margin: 0 4%;
  }

  td img {
    height: 4rem; 
    width: 4rem;
  }

  .checkout {
    margin-top: 1rem;
    margin: 1rem 0 5rem;
  }
}
