@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --black: #29271e;
  --primary-orange: #d93f12;
  --primary-beige: #fbf9f7;
  --primary-green: #2f8680;
  --primary-blue:#1c5c7e;
  --secondary-blue: #86bcb6; 

  /* Media queries */
  /* --menu-breakpoint: 400px;
  --menu-height: 50px; */
}

* {
  box-sizing: border-box; 
}

html {
  font-size: 16px;
  font-display: auto;
  background: var(--primary-beige)
}

html, button {
  font-family: "Montserrat";
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}