
header {
  position: relative;
  padding: 0 10%;
  /* border-bottom: 2px solid var(--primary-green);
  outline: 2px solid var(--primary-orange); */
  border-bottom: 2px solid var(--primary-green);
  outline: 2px solid var(--lightblack);
  outline-offset: 5px;
}

a {
  color: var(--lightblack);
  padding-left: 0.8%;
}

a:hover {
  color: var(--primary-orange);
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.container {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

a.logo {
  font-weight: bold;
  font-family: "DynaPuff";
  color: var(--primary-green);
  font-size: 32px;
  /* padding-left: 0.5%; */
}

a.logo:hover, a span {
  text-decoration: none;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

ul a {
  padding: 1rem;
  display: inline-block;
}

a span {
  background: var(--primary-orange);
  color: var(--primary-beige);
  padding: 0.25rem 0.45rem;
  border-radius: 100rem;
  font-size: 0.6rem;
}

.menu-container {
  position: relative;
}

.menu {
  position: absolute;
  z-index: 1;
  background: var(--primary-beige);
  display: none;
  border-radius: 0.1rem;
  box-shadow: 0 4px 8px 0 rgba(41, 39, 30, 0.11), 0 6px 20px 0 rgba(41, 39, 30, 0.12);
}

.menu-container:hover .menu {
  display: block;
}

.menu a {
  width: 100%;
  min-width: 8rem;
}



