<header>
  <div class="container">
    <a routerLink="/" class="logo" routerLinkActive="active" ariaCurrentWhenActive="page">BiteMe!</a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
        </li>

        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard">{{user.name}}</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>

        <li>
          <a routerLink="/cart-page">Cart 
            <span class="number" *ngIf="cart.totalCount !== 0">{{cart.totalCount}}</span>
          </a>
        </li>

      </ul>
    </nav>
  </div>
</header>



